doctype html
html
   head
      title "Hello Pug"
   body
     h1(style="color:red; text-align:center") FORM DATA
     table(border="2",cellpadding="10") 
        thead 
          th FULLNAME 
          th EMAIL 
          th MOBILENO 
          th ADDRESS 
          th COMPANY 
        tr 
            td #{employeelist.fullname}
            td #{employeelist.email}
            td #{employeelist.phone}
            td #{employeelist.address}
            td #{employeelist.company}
